@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  list-style: none;
}

body {
  overflow-x: hidden;
}

h1 {
  font-size: clamp(1.875rem, 3vmax + 1vmin, 3.75rem);
  font-weight: 500;
}

h2 {
  font-size: clamp(1.57rem, 2.5vmax, 2.5rem);
  font-weight: 500;
}

h3 {
  font-size: 20px;
  font-weight: 500;
}

p {
  line-height: 1.7;
}
