:root {
  --global-color-0: #075aae;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  max-width: 1100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  position: relative;
}

#logo {
  max-width: 14.85rem;
  margin: 1rem;
}

#nav-menu {
  display: flex;
  margin: 1rem;
}

.nav-link {
  text-decoration: none;
  padding: 1rem;
  color: black;
}

.nav-link.active,
.nav-link:hover {
  color: var(--global-color-0);
}

#hamburger {
  display: none;
  position: absolute;
  right: 1.5rem;
  top: 2rem;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--global-color-0);
}

.hamburger-line {
  height: 2px;
  width: 50%;
  background: white;
}

#hamburger.open .hamburger-line:nth-child(1) {
  transform: translateY(350%) rotateZ(45deg);
}

#hamburger.open .hamburger-line:nth-child(2) {
  transform: scaleX(0%);
}

#hamburger.open .hamburger-line:nth-child(3) {
  transform: translateY(-350%) rotateZ(-45deg);
}

@media screen and (max-width: 950px) {
  nav {
    flex-direction: column;
    align-items: flex-start;
  }

  #hamburger {
    display: flex;
  }

  #nav-menu {
    display: none;
    margin: 0;
  }

  .nav-link {
    border-top: 1px solid rgb(210, 210, 210);
  }

  #nav-menu.open {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
