:root {
  --global-color-0: #075aae;
  --global-color-1: #067ae0;
  --global-color-2: #f4f6f6;
}

.story {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--global-color-2);
  padding: 8vmax 1.5rem;
}

.story .wrapper {
  max-width: 1140px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.story .container {
  flex: 2.9;
  display: flex;
  flex-direction: column;
  background: white;
  gap: 2.5rem;
  padding: 3rem;
}

.story .container:last-child {
  flex: 2;
  background: transparent;
  padding: 0;
}

.story .container img {
  height: auto;
  max-width: 100%;
}

@media screen and (max-width: 768px) {
  .story {
    padding: 1.5rem;
  }

  .story .wrapper {
    flex-direction: column-reverse;
  }
}
