:root {
  --global-color-0: #075aae;
  --global-color-1: #067ae0;
  --global-color-2: #f4f6f6;
}

.work {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem 1.5rem;
}

.work .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 1100px;
  width: 100%;
  gap: 1.5rem;
}

.work > .container > h2 {
  margin-top: 1.5rem;
}

.work > .container > p {
  max-width: 510px;
  text-align: center;
  margin-bottom: 1.5rem;
}

.work .item-container {
  width: 100%;
  display: flex;
  gap: 1.5rem;
}

.work .item {
  flex: 1;
  background: var(--global-color-0);
  display: flex;
  flex-direction: column;
  padding: 4.5rem 3.2rem;
  gap: 2.5rem;
  color: white;
}

.work .item span {
  width: 50px;
  height: 1px;
  background: var(--global-color-1);
}

.work .item p {
  text-align: left;
  word-wrap: break-word;
}

.work .service-container {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  gap: 1.5rem;
}

.work .service-item-wrapper {
  flex: 2.9;
  display: flex;
  flex-direction: row-reverse;
  background: var(--global-color-2);
  padding: 0.5rem;
}

.work .service-item {
  flex: 1;
  background: var(--global-color-2);
  display: flex;
  flex-direction: column;
  padding: 4.5rem 3.2rem;
  gap: 2.5rem;
  color: black;
}

.work .service-item-wrapper img {
  width: 10.5rem;
  align-self: end;
}

@media screen and (max-width: 770px) {
  .work {
    padding: 1.5rem;
  }

  .work .item-container,
  .work .service-item-wrapper,
  .work .service-container {
    flex-direction: column;
  }

  .work .service-item:first-child {
    padding-bottom: 0.5rem;
  }

  .work .service-item-wrapper img {
    align-self: center;
  }
}
